@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-white: #ffffff;
  --secondary-white: #f1eaff;
  --primary: #d0a2f7;
  --secondary: #dcbfff;
  /* --primary: #e5d4ff;
  */
}

a {
  color: inherit;
  text-decoration: none;
}

dialog {
  width: 100%;
  max-width: 350px;
  padding: 1em;
  margin: auto;
  border-radius: 9px;
}
