/* search bar */

.search-section {
  width: 100%;
  padding: 21px 10px;
  display: flex;
  justify-content: center;
}

.search-section-div {
  height: 40px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  background-color: var(--primary-white);
}

.search-section-div-search-icon,
.search-section-div-cross-icon {
  width: 30px;
  height: 100%;
  padding: 5px;
  border: 1px solid gray;
}

.search-section-div-search-icon {
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.search-section-div-cross-icon {
  border-left: none;
  border-radius: 0 6px 6px 0;
}

.search-section-div-input {
  width: 100%;
  padding: 6px 9px;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}

.search-section-div-input:focus,
.search-section-div-input:focus-visible {
  outline: none;
}

/* filter tags */

.filter-section {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.filter-section-div {
  width: 100%;
  max-width: 500px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.filter-section-div button {
  padding: 3px 9px;
  font-size: 15px;
  background-color: var(--tertiary);
  color: black;
  border-radius: 999px;
}

.filter-active-button {
  color: white !important;
  background-color: var(--primary) !important;
}

/* dialog components */

.form-header {
  font-size: 24px;
  text-align: center;
}

.form-content {
  padding: 15px 0 30px 0;
  gap: 30px;
}

.form-content-field,
.form-content-field-options {
  gap: 6px;
}

.form-content-field label {
  font-size: 18px;
  font-weight: 500;
}

.form-content-field input,
.form-content-field-options select {
  padding: 6px 9px;
  border-radius: 6px;
  border: 1px solid gray;
  margin-left: 3px;
}
.text-sm {
  font-size: 12px;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.6);
}

.form-content-field-options {
  max-width: 100px;
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-footer-button {
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  transition-duration: 0.3s;
}

.form-footer-button:hover {
  opacity: 0.7;
}

.form-footer-button-action {
  color: var(--primary-white);
  background-color: var(--primary);
}

/* tasks feed */
.tasks-feed {
  padding: 10px;
  align-items: center;
  gap: 15px;
}

.task {
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 500px;
  padding: 9px 9px 9px 0;
  border-radius: 8px;
  border: 1px solid black;
  background-color: var(--primary-white);
}

.task-dragging {
  background-color: rgba(0, 120, 255, 0.1);
}

.drag-task-handler {
  padding: 6px 6px 6px 9px;
  transition-duration: 0.12s;
}
.drag-task-handler:hover {
  opacity: 0.7;
}

.task-content {
  width: 100%;
}

.task-head {
  justify-content: space-between;
  align-items: center;
}

.task-head > h2 {
  font-size: 18px;
}

.task-head-actions {
  width: fit-content;
  text-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

.task-head-actions-priority {
  padding-right: 5px;
  border-right: 1px solid gray;
}

.task-head-actions-priority::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  display: inline-block;
  border-radius: 9999px;
  margin-right: 5px;
}

.priority-high::before {
  background: rgba(255, 0, 0, 0.8);
}

.priority-medium::before {
  background: rgba(255, 255, 0, 0.8);
}

.priority-low::before {
  background: rgba(0, 255, 0, 0.8);
}

.task-head-actions-btn {
  padding: 4px;
  border-radius: 6px;
}

.task-head-actions-btn > img {
  width: 20px;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.bg-green {
  background-color: rgba(0, 255, 0, 0.3);
  transition-duration: 0.3s;
}

.bg-gray {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.bg-red:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.bg-green:hover {
  background-color: rgba(0, 255, 0, 0.6);
}

.bg-gray:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.task-description {
  padding: 9px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.task-done {
  background-color: rgb(90, 120, 160, 0.3) !important;
}

.mark-as-done {
  display: none;
  position: absolute;
  width: fit-content;
  height: 100%;
  margin-top: -9px;
  margin-left: 20%;
}

.mark-as-done-active > div {
  display: block !important;
}

.mark-as-done-active > div > img {
  margin-top: 10px;
}
